{% extends 'administracion/base/home.html' %}
{% load static %}

{% block ccs %}
    <link rel="stylesheet" href="{% static 'lib/octopus/assets/vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/octopus/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
{% endblock %}

{% block content %}
    {% block content_list_sup %}
    {% endblock %}
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="" class="fa fa-caret-down"></a>
                <a href="" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">
                {{title_table}}
            </h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-md">
                        {% block button %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-none" id="{{table_id}}">
                <thead>
                    <tr>
                        {% for name in table_fields %}
                            <th>{{name}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                        {% block table_values %}
                        {% endblock %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% block content_list_inf %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/octopus/assets/vendor/select2/select2.js' %}"></script>
    <script src="{% static 'lib/octopus/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/octopus/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>
{% endblock %}

{% block example_script %}
    <script>
        $(document).ready(function (){
            $('#{{table_id}}').dataTable({
                "language":{
                    "url":"{% static 'administracion/json/español.json' %}"
                }
            });
        })
    </script>
    {% block new_scripts %}
    {% endblock %}
{% endblock %}