{% extends 'administracion/base/list.html' %}
{% load static %}

{% block button %}
    <a href="{% url 'administracion:gastos_new' %}"><button id="accion" class="btn btn-primary"> {{ add_button_name }} <i class="fa fa-plus"></i></button></a>
{% endblock %}

{% block table_values %}
    <tr class="gradeX">
        <td>{{obj.name}}</td>
        <td>$ {{obj.total}}</td>
        <td>{{obj.description}}</td>
        <td class="actions">
            <a href="{% url 'administracion:gastos_edit' obj.id %}" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="Editar Gasto"><i class="fa fa-pencil"></i></a>
            <a href="{% url 'administracion:gastos_delete' obj.id %}" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="Eliminar Gasto"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
{% endblock %}