<!-- footer -->
<footer class="footer_style_2">
    <div class="container-fuild">
        <div class="row">
        <div class="footer_blog">
            <div class="row">
            <div class="col-md-6">
                <div class="main-heading left_text">
                <h2>Blaster Impresiones</h2>
                </div>
                <p>Servicio de impresión y modelado de piezas 3D</p>
                <ul class="social_icons">
                <li class="social-icon fb"><a href="https://www.facebook.com/BasterImpresiones3D" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="social-icon tw"><a href="https://www.instagram.com/blaster_impresiones3d/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="main-heading left_text">
                <h2>Otros links</h2>
                </div>
                <ul class="footer-menu">
                <li><a href="{% url 'principal:about' %}"><i class="fa fa-angle-right"></i> Sobre nosotros</a></li>
                <li><a href="it_term_condition.html"><i class="fa fa-angle-right"></i> Términos y condiciones</a></li>
                <li><a href="it_news.html"><i class="fa fa-angle-right"></i> Noticias</a></li>
                <li><a href="it_contact.html"><i class="fa fa-angle-right"></i> Contáctanos</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="main-heading left_text">
                <h2>Servicios</h2>
                </div>
                <ul class="footer-menu">
                <li><a href="it_data_recovery.html"><i class="fa fa-angle-right"></i> Impresion 3D</a></li>
                <li><a href="it_computer_repair.html"><i class="fa fa-angle-right"></i> Modelado 3D</a></li>
                <li><a href="it_mobile_service.html"><i class="fa fa-angle-right"></i> Soporte Técnico en Impresoras 3D</a></li>
                <li><a href="it_network_solution.html"><i class="fa fa-angle-right"></i> Venta de Impresoras 3D (Proximamente)</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="main-heading left_text">
                <h2>Contáctanos</h2>
                </div>
                <p>Argentina - La Rioja - Capital<br>
                <span style="font-size:18px;"><a href="tel:+5493804784424">+549 380 4784424</a></span></p>
                <div class="footer_mail-section">
                <form>
                    <fieldset>
                    <div class="field">
                    <input placeholder="Email" type="text">
                    <button class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                    </div>
                    </fieldset>
                </form>
                </div>
            </div>
            </div>
        </div>
        <div class="cprt">
            <p>ItNext © Copyrights 2019 Design by html.design</p>
        </div>
        </div>
    </div>
</footer>
<!-- end footer -->