{% load static %}
<!-- header -->
<header id="default_header" class="header_style_1">
    <!-- header top -->
    <div class="header_top">
        <div class="container">
        <div class="row">
            <div class="col-md-8">
            <div class="full">
                <div class="topbar-left">
                <ul class="list-inline">
                    <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">La Rioja - La Rioja - Argentina</span> </li>
                    <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:blasterimpresiones3d@gmail.com">blasterimpresiones3d@gmail.com</a></span> </li>
                </ul>
                </div>
            </div>
            </div>
            <div class="col-md-4 right_section_header_top">
            <div class="float-left">
                <div class="social_icon">
                <ul class="list-inline">
                    <li><a class="fa fa-facebook" href="https://www.facebook.com/BasterImpresiones3D" title="Facebook" target="_blank"></a></li>
                    <li><a class="fa fa-instagram" href="https://www.instagram.com/blaster_impresiones3d/" title="Instagram" target="_blank"></a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- end header top -->
    <!-- header bottom -->
    <div class="header_bottom">
        <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <!-- logo start -->
            <div class="logo"> <a href="{% url 'administracion:index' %}"><img src="{% static 'administracion\img\Blaster.png' %}" alt="logo" style="border-radius: 2%;" /></a> </div>
            <!-- logo end -->
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!-- menu start -->
            <div class="menu_side">
                <div id="navbar_menu">
                <ul class="first-ul">
                    <li> <a class="active" href="{% url 'principal:index' %}">Home</a>
                    </li>
                    <li> <a href="it_service.html">Servicios</a>
                    <ul>
                        <li><a href="it_service_list.html">Impresión 3D</a></li>
                        <li><a href="it_service_detail.html">Modelado de piezas para imprimir</a></li>
                    </ul>
                    </li>
                    <li> <a href="">Catálogo</a>
                        <ul>
                            <li><a href="{% url 'principal:catalogo' %}">Todos los productos</a></li>
                            <li><a href="it_shop_detail.html">Últimas Novedades</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Páginas recomendadas</a>
                    <ul>
                        <li><a href="https://www.thingiverse.com/" target="_blank">Thingiverse</a></li>
                        <li><a href="https://cults3d.com/#" target="_blank">Cults</a></li>
                        <li><a href="https://www.myminifactory.com/es/" target="_blank">MyMiniFactory</a></li>
                        <li><a href="https://grabcad.com/library" target="_blank">GrabCAD</a></li>
                    </ul>
                    </li>
                    <li><a href="{% url 'principal:about' %}">Acerca de</a></li>
                </ul>
                </div>
            </div>
            <!-- menu end -->
            </div>
        </div>
        </div>
    </div>
    <!-- header bottom end -->
</header>
<!-- end header -->