{% extends 'administracion/base/home.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">{{ title }}</h2>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">{{form.hs.label}}</label>
                            <div class="col-md-6">
                                {{form.hs}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">{{form.mins.label}}</label>
                            <div class="col-md-6">
                                {{form.mins}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="textareaAutosize">{{form.grs.label}}</label>
                            <div class="col-md-6">
                                {{form.grs}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">{{form.material.label}}</label>
                            <div class="col-md-6">
                                {{form.material}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">{{form.nozzle.label}}</label>
                            <div class="col-md-6">
                                <div class="input-group mb-md">
                                    {{form.nozzle}}
                                    <span class="input-group-addon btn-info">mm</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">{{form.infill.label}}</label>
                            <div class="col-md-6">
                                <div class="input-group mb-md">
                                    {{form.infill}}
                                    <span class="input-group-addon btn-success">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">{{form.speed.label}}</label>
                            <div class="col-md-6">
                                <div class="input-group mb-md">
                                    {{form.speed}}
                                    <span class="input-group-addon btn-primary">mm/s</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">{{form.layer.label}}</label>
                            <div class="col-md-6">
                                <div class="input-group mb-md">
                                    {{form.layer}}
                                    <span class="input-group-addon btn-info">mm</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-primary">{{ action_button }}</button>
                                <button type="reset" class="btn btn-default">Borrar Campos</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
