{% extends 'administracion/base/list.html' %}
{% load static %}

{% block button %}
    {% if pedido_estado.status == 'Recibido' %}
    <a href="{% url 'administracion:pedido_agregar_producto' id_pedido %}"><button id="accion" class="btn btn-primary"> {{ add_button_name }} <i class="fa fa-plus"></i></button></a>
    {% endif %}
    {% if pedido_estado.status == 'Listo' %}
    <a href="{% url 'administracion:pedido_agregar_producto' id_pedido %}"><button id="accion" class="btn btn-primary"> {{ add_button_name }} <i class="fa fa-plus"></i></button></a>
    {% endif %}
{% endblock %}

{% block table_values %}
    <tr class="gradeX">
        <td>{{obj.producto}}</td>
        <td>{{obj.cantidad}}</td>
        <td>$ {{obj.sub_total}}</td>
        {% if obj.status == 'No completo' %}
        <td><span class="label label-warning">{{ obj.status }}</span></td>
        <td class="actions">
            <a href="{% url 'administracion:impresiones_detalle' obj.id %}" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="Ver detalles"><i class="fa fa-eye"></i></a>
        </td>
        {% endif %}
        {% if obj.status == 'Listo' %}
        <td><span class="label label-success">{{ obj.status }}</span></td>
        <td class="actions">
            <a href="{% url 'administracion:impresiones_detalle' obj.id %}" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="Ver detalles"><i class="fa fa-eye"></i></a>
        </td>
        {% endif %}
    </tr>
{% endblock %}